In [1]:
import pandas as pd

In [4]:
file_one = "mbti_1.csv"

In [8]:
file_one_df = pd.read_csv(file_one, encoding="ISO-8859-1")
file_one_df

     E/I S/N T/F J/P                                              posts
0      I   N   F   J  'http://www.youtube.com/watch?v=qsXHcwe3krw|||...
1      E   N   T   P  'I'm finding the lack of me in these posts ver...
2      I   N   T   P  'Good one  _____   https://www.youtube.com/wat...
3      I   N   T   J  'Dear INTP,   I enjoyed our conversation the o...
4      E   N   T   J  'You're fired.|||That's another silly misconce...
...   ..  ..  ..  ..                                                ...
8670   I   S   F   P  'https://www.youtube.com/watch?v=t8edHB_h908||...
8671   E   N   F   P  'So...if this thread already exists someplace ...
8672   I   N   T   P  'So many questions when i do these things.  I ...
8673   I   N   F   P  'I am very conflicted right now when it comes ...
8674   I   N   F   P  'It has been too long since I have been on per...

[8675 rows x 5 columns]

In [9]:
def Convert(file_one_df['posts']): 
    li = list(file_one_df['posts'].split(" ")) 
    return li

SyntaxError: invalid syntax (<ipython-input-9-2394cb622a8c>, line 1)